<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>114845937815-lg5vustdn5p5k4ra1o73anarmg3fb7cp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.114845937815-lg5vustdn5p5k4ra1o73anarmg3fb7cp</string>
	<key>API_KEY</key>
	<string>AIzaSyBUEYgqDVkGkNnaRRDZ_TEAygDLQFw0tec</string>
	<key>GCM_SENDER_ID</key>
	<string>114845937815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>abbos-chat-2eb3f</string>
	<key>STORAGE_BUCKET</key>
	<string>abbos-chat-2eb3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114845937815:ios:232a8dc5b8e88b965639d2</string>
</dict>
</plist>